
$bodyFontColor:rgb(8, 25, 80);
$visitedFontColor:rgb(190, 133, 9);

@mixin border-radius($radius:5px, $color:$bodyFontColor){
    border-radius: $radius;
    border-color: $color;
    background-color: rgb(244, 251, 255);
}
@mixin button-style($fontColor:white, $backgroundColor:rgba(42, 108, 250, 0.993)){
    background-color: $backgroundColor;
    color: $fontColor;
}

@import "./header";

@import "./listOfShoes";

.authorsList{
    @extend .listOfShoes;
    td {
        padding-left: 1em;
    }
}
